extends ../layout 

block head
    title #{title}

block content
    form(method='POST', action='/users/profile/edit')
        .row
            //Colonne de Gauche
            .col
                .card
                    .card-header
                        h3.dark-grey Missionnaire
                    .card-body
                        //Nom
                        .input-group.col.mb-3
                            .input-group-prepend
                                .input-group-text Nom
                            input.form-control(name='nom', type='text', placeholder="John", required, value=missionnaire.nom)
                        //Prénom
                        .input-group.col.mb-3
                            .input-group-prepend
                                .input-group-text Prénom
                            input.form-control(name='prenom', type='text', placeholder="Doe", required, value=missionnaire.prenom)
                        //Adresse
                        .input-group.col.mb-3
                            .input-group-prepend
                                .input-group-text Adresse
                            input.form-control(name='adresse', type='text', required, value=missionnaire.adresse)
                        //Anniversaire + Telephone
                        .col.mb-3
                            .row
                                .input-group.col
                                    .input-group-prepend
                                        .input-group-text
                                            .fas.fa-birthday-cake
                                    input.form-control(name='dateNaissance', type='date', required, value=missionnaire.dateNaissance)
                                .input-group.col
                                    input.form-control(name='telephone', type='tel', placeholder="06XXXXXXXX", pattern="^[+]?[0-9]{9,12}$", maxlength=13, required, value=missionnaire.telephone)
                                    .input-group-append
                                        .input-group-text 
                                            .fas.fa-phone
                        //Sécurité sociale
                        .input-group.col
                            .input-group-prepend
                                .input-group-text Sécurité sociale
                            input.form-control(name='numSecuriteSociale', type='text', pattern="[0-9]{15}", maxlength=15, required, value=missionnaire.numSecuriteSociale)
            
            //Colonne de Droite
            .col
                .card
                    .card-header
                        h3.dark-grey Compagnie
                    .card-body
                        .input-group.col.mb-3
                            input.form-control(id='numSiret', name='numSiret', type='text', placeholder="Numéro Siret (14 chiffres)", pattern="[0-9]{14}", required, maxlength=14, value=missionnaire.numSiret)
                            div.input-group-append
                                button.btn.btn-secondary(id='rechercherSiret', type='button')
                                    .fas.fa-search
                                .input-group-text Siret
                        .input-group.col.mb-3
                            input.form-control(id='numSiren', name='numSiren', type='text', required, readonly)
                            .input-group-prepend
                                .input-group-text Siren
                        .input-group.col.mb-3
                            input.form-control(id='nomEntreprise', name='nomEntreprise', type='text', required, readonly, value=missionnaire.nomEntreprise)
                            .input-group-prepend
                                .input-group-text Nom
                        .input-group.col.mb-3
                            input.form-control(id='adresseEntreprise', name='adresseEntreprise', type='text', required, readonly, value=missionnaire.adresseEntreprise)
                            .input-group-prepend
                                .input-group-text Adresse
                        .input-group.col.mb-3           
        button.btn.btn-primary.my-3(id='formSubmit', type='submit' disabled) Mettre le profil a jour
        //Si le profil existe déja, le bouton pour mettre a jour le profil doit etre actif
        if missionnaire.numSiret != null
            script(type="text/javascript").
                $('#formSubmit').attr("disabled", false);
