extends ../layout

block head
    title #{title}


block content
    .row
        if missionnaire
            .col
                .card
                    .card-header
                        h4 Missionnaire
                    .card-body
                        h2 #{missionnaire.prenom} #{missionnaire.nom}
                        small
                            cite(title="#{user.email}")
                            | #{user.email} 
                            i.fa.fa-envelope
                            hr
                        p
                            i.fa.fa-address-card
                            | #{missionnaire.adresse}
                            br

                            i.fa.fa-gift
                            | #{missionnaire.dateNaissance}
                            br

                            i.fa.fa-phone
                            | #{missionnaire.telephone}
                            hr

                            | Sécurité Sociale :
                            | #{missionnaire.numSecuriteSociale}
                            br
            .col
                .card
                    .card-header
                        h4 Compagnie
                    .card-body
                        p
                            i.fa.fa-address-book 
                            | #{missionnaire.numSiret}
                            br

                            i.fa.fa-signature
                            | #{missionnaire.nomEntreprise}
                            br

                            i.fa.fa-address-card
                            | #{missionnaire.adresseEntreprise}
                
    a(href="/users/profile/edit")
        if missionnaire
            button.btn.btn-primary.my-3(type="button") Editer le profil
        else 
            button.btn.btn-danger.my-3(type="button") Creer le profil

    if missions
        .card
            .card-header
                h4 Missions
            .card-body
                table.table.table-hover
                    thead
                        tr
                            th Participants
                            th Date Montée
                            th Date Descente
                        
                        
                        each mission, i in missions
                            tr
                                thead
                                    tbody
                                        tr
                                            th
                                                each submission, i in mission.missionnaires
                                                    row
                                                        =submission
                                                        br

                                                //- - if (mission.missionnaires.length)
                                                //-     - for (var i = 0; i < mission.missionnaires.length; i++) {
                                                //-         row
                                                //-             p= mission.missionnaires[i]
                                                //-     - }

                                            th #{mission.dateArrivee}, à #{mission.heureArrivee}h
                                            th #{mission.dateDepart}, à #{mission.heureDepart}h


