extends ../layout

block head
    link(rel="stylesheet", href="/css/daterangepicker.css")
    script(src="/js/moment.min.js")
    script(src="/js/daterangepicker.min.js")
    title #{title}

block content
    form(method='POST', action='/missions/add')
        h4 #{title}
        //Profil
        .card
            .card-header
                h5 Votre profil
            .card-body
                .row
                    .col
                        .input-group
                            .input-group-prepend
                                .input-group-text
                                    .fas.fa-user-circle
                            input.form-control(name='username', type='text', placeholder=missionnaire.nom, required readonly)
                    .col
                        .input-group
                            input.form-control(name='username', type='text', placeholder=missionnaire.prenom, required readonly)
        
        //Dates
        .card.my-5
            .card-header
                h5 Dates demandées
            .card-body
                .row
                    .input-group.col
                        .input-group-prepend
                            .input-group-text Arrivée
                        input.form-control(name='dateArrivee', type='date', required)
                        input.form-control(name='heureArrivee', type='time', required)
                    .input-group.col
                        .input-group-prepend
                            .input-group-text Depart
                        input.form-control(name='dateArrivee', type='date', required)
                        input.form-control(name='heureDepart', type='time', required)
        //Moyens de transport
        .card.my-5
            .card-header
                h5 Moyen de transport
            .card-body
        //Missionnaires
        .card.my-5
            .card-header
                h5 Missionnaires
            .card-body
                .row.my-3
                    .col
                        .input-group.col
                            if missionnaires
                                select.selectpicker(data-live-search="true", id="selecteurMissionnaire")
                                    each missionnaire, i in missionnaires
                                        <option id=#{missionnaire._id} nom=#{missionnaire.nom} prenom=#{missionnaire.prenom} entreprise=#{missionnaire.nomEntreprise} data-tokens="#{missionnaire.nom} #{missionnaire.prenom} #{missionnaire.telephone} #{missionnaire.nomEntreprise} #{missionnaire.adresseEntreprise} #{missionnaire.numSiret}"> #{missionnaire.nom} #{missionnaire.prenom}</option>

                            button.btn.btn-primary.mr-2(id='addMissionnaire', type='button') Add

                //Table
                table.table.table-hover
                    thead
                        tr
                            th Prénom
                            th Nom
                            th Entreprise
                            th
                    tbody(id='missionnaireList')
                        //Missionnaires Injectés ici par le script jquery
        
        button.btn.btn-primary.mr-2(type='submit') Se connecter